h1 {
  color: red;
}
.row {
    width:546px;
}

.box {
    background: ##9E9E9E;
    border:black 1px solid;
    width: 180px;
    height:180px;
    margin:0px auto;
    margin-top:0px;
    cursor:pointer;
    display: block-inline;
    float: left;
}
