h1 {
  color: red;
}
.cell {
      float: left;
      width: 30px;
      padding-left: 5px;
      height: 30px;
      border-right: 1px solid #000000;
      border-bottom: 1px solid #000000;
    }
    .row {
      clear: left;
      overflow: hidden;
    }
    .table {
      border-left: 1px solid #000000;
      border-top: 1px solid #000000;
    }
